<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.TicketMapper">
     <select id="insert" resultType="com.hnb.ticket.TicketVO">
	   NSERT INTO TICKET
		(TICKET_NUMBER,ID,FILM_NUMBER,THEATER_NAME,ROOM_NAME,SEAT_NUMBER,
		ADULT,OLDMAN,TEENAGER)
	   VALUES
	  (#{ticketNumber}, #{id}, #{filmNumber}, #{theaterName},
	  #{roomName},#{seatNumber},#{adult},#{oldMan},#{teenager})
   </select>
   
   <select id="selectAll" resultType="com.hnb.ticket.TicketVO">
	   SELECT
		TICKET_NUMBER AS ticketNumber,
		ID AS id,
		FILM_NUMBER AS filmNumber,
		THEATER_NAME AS theaterName,
		ROOM_NAME AS roomName,
		SEAT_NUMBER AS seatNumber,
		ADULT AS adult,
		OLDMAN AS oldMan,
		TEENAGER AS teenager
	   FROM TICKET
   </select>
   
   <select id="selectOneBy" resultType="com.hnb.ticket.TicketVO" parameterType="string">
  	SELECT 
		TICKET_NUMBER AS ticketNumber,
		ID AS id,
		FILM_NUMBER AS filmNumber,
		THEATER_NAME AS theaterName,
		ROOM_NAME AS roomName,
		SEAT_NUMBER AS seatNumber,
		ADULT AS adult,
		OLDMAN AS oldMan,
		TEENAGER AS teenager
	FROM TICKET WHERE FILM_NUMBER = #{filmNumber} 
  </select>
   
 </mapper>